{% extends "base.html.twig" %}

{% block menu %}
    {% include "adminmenu.html.twig" %}
{% endblock menu %}

{% block body %}

    <form action="{{ path('init_item') }}" method="post">
        <input type="text" placeholder="Item Name" name="item_name"><br>
        <input type="number" placeholder="Price" name="price"><br>
        <input type="number" placeholder="Count" name="count"><br>
        <button type="submit">Create</button>
    </form>

{% endblock body %}